.main-block {
  background: rgba(255,255,255,0.5);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
}

.info-block {
  margin: 0 auto;
  text-align: center;
}

.circle-block {
  background-image: url('../images/abel-trotter-portfolio-picture.jpg');
  background-position: 120% 100%;
  background-size: 120%;
  border-radius: 200px;
  height: 350px;
  margin: 100px auto;
  width: 350px;
}

.circle-block-caption {
  background-color: #fff;
  color: #000;
  margin-top: -180px;
  margin-bottom: 150px;
}

.nav ul {
  bottom: 0;
  list-style-type: none;
  margin: 0 auto 200px auto;
  padding: 0;
  position: fixed;
  width: 100%;
}

.nav ul li {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 33%;
}

.large-glyph {
  font-size: 44px;
}